# Data prepare

In [72]:
import pandas as pd

In [73]:
csv_file = r'F:\Research\place_connectivity\PCI_2019.csv'

csv_file = r'/media/huan/HD8T/Research/place_conn/county_county_aug2020.tsv'

In [77]:
df = pd.read_csv(csv_file, sep='\t')
df['o_fips'] = df['user_loc']
df['d_fips'] = df['fr_loc']
df['ri'] = df['scaled_sci']
df

          user_loc  fr_loc  scaled_sci  o_fips  d_fips        ri
0             1001    1001    13971142    1001    1001  13971142
1             1001    1003      145133    1001    1003    145133
2             1001    1005      200193    1001    1005    200193
3             1001    1007      371688    1001    1007    371688
4             1001    1009       95859    1001    1009     95859
...            ...     ...         ...     ...     ...       ...
10426436     78030   72151       13881   78030   72151     13881
10426437     78030   72153        8328   78030   72153      8328
10426438     78030   78010    11155562   78030   78010  11155562
10426439     78030   78020    14004203   78030   78020  14004203
10426440     78030   78030    37515311   78030   78030  37515311

[10426441 rows x 6 columns]

In [78]:
df_sorted = df[df['o_fips'] != df['d_fips']]

In [79]:
df_sorted['o_d'] = df_sorted.apply(lambda row: str(min(row['o_fips'], row['d_fips'])) + str(max(row['o_fips'], row['d_fips'])), axis=1)

<ipython-input-79-e6e81eb20818>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [80]:
df_sorted['o_d']

1             10011003
2             10011005
3             10011007
4             10011009
5             10011011
               ...
10426435    7214978030
10426436    7215178030
10426437    7215378030
10426438    7801078030
10426439    7802078030
Name: o_d, Length: 10423212, dtype: object

In [81]:
df_sorted = df_sorted.reset_index()

In [82]:
df_sorted

,index,user_loc,fr_loc,scaled_sci,o_fips,d_fips,ri,o_d
0,1,1001,1003,145133,1001,1003,145133,10011003
1,2,1001,1005,200193,1001,1005,200193,10011005
2,3,1001,1007,371688,1001,1007,371688,10011007
3,4,1001,1009,95859,1001,1009,95859,10011009
4,5,1001,1011,570502,1001,1011,570502,10011011
...,...,...,...,...,...,...,...,...
10423207,10426435,78030,72149,12859,78030,72149,12859,7214978030
10423208,10426436,78030,72151,13881,78030,72151,13881,7215178030
10423209,10426437,78030,72153,8328,78030,72153,8328,7215378030
10423210,10426438,78030,78010,11155562,78030,78010,11155562,7801078030
10423211,10426439,78030,78020,14004203,78030,78020,14004203,7802078030

In [83]:
gby = df_sorted.groupby('o_d')['o_d'].count().to_frame()

In [84]:
gby['o_d'].min()

2

In [85]:
gby['o_d'].max()

2

In [86]:
s = df_sorted.sort_values('o_d')

In [89]:
s[200000:200100]

,index,user_loc,fr_loc,scaled_sci,o_fips,d_fips,ri,o_d
91893,91922,1057,29057,1866,1057,29057,1866,105729057
4874308,4875818,29057,1057,1866,29057,1057,1866,105729057
4877536,4879047,29059,1057,4055,29059,1057,4055,105729059
91894,91923,1057,29059,4055,1057,29059,4055,105729059
91895,91924,1057,29061,2094,1057,29061,2094,105729061
...,...,...,...,...,...,...,...,...
5026024,5027581,29151,1057,1906,29151,1057,1906,105729151
5029252,5030810,29153,1057,1969,29153,1057,1969,105729153
91941,91970,1057,29153,1969,1057,29153,1969,105729153
5032480,5034039,29155,1057,27602,29155,1057,27602,105729155
91942,91971,1057,29155,27602,1057,29155,27602,105729155

In [90]:
odd = s[1::2]

In [91]:
gby = odd.groupby('o_d')['o_d'].count().to_frame()

In [92]:
gby['o_d'].max()

1

In [93]:
gby['o_d'].min()

1

In [94]:
odd

,index,user_loc,fr_loc,scaled_sci,o_fips,d_fips,ri,o_d
1020364,1020681,10001,10003,627402,10001,10003,627402,1000110003
1020365,1020682,10001,10005,1214534,10001,10005,1214534,1000110005
1020366,1020683,10001,11001,15280,10001,11001,15280,1000111001
1020367,1020684,10001,12001,4452,10001,12001,4452,1000112001
1020368,1020685,10001,12003,2698,10001,12003,2698,1000112003
...,...,...,...,...,...,...,...,...
10407387,10410611,72151,9015,14288,72151,9015,14288,901572151
10410615,10413840,72153,9015,14041,72153,9015,14041,901572153
10413843,10417069,78010,9015,3322,78010,9015,3322,901578010
10417071,10420298,78020,9015,10770,78020,9015,10770,901578020
10420299,10423527,78030,9015,3525,78030,9015,3525,901578030

In [95]:
odd.to_csv(r'/media/huan/HD8T/Research/place_conn/SCI_2019_single.csv', index=False)

# AgglomerativeClustering

In [3]:
import pandas as pd
import sklearn
from sklearn.cluster import AgglomerativeClustering
import numpy as np
from natsort import natsorted

import plotly.express as px
import json
from urllib.request import urlopen

with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)
    
def drawmap(df_re):
    fig = px.choropleth_mapbox(df_re, geojson=counties, locations='fips', color='class',
#                                color_discrete_map="Viridis",
#                                color = 'class'
                               range_color=(0, 50),
                               mapbox_style="carto-positron",
                               zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                               opacity=0.5,
                               labels={'unemp':'unemployment rate'}
                              )
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    fig.show()

In [13]:
csv_file = r'/media/huan/HD8T/Research/place_conn/SCI_2019_single.csv'
csv_file = r'PCI_2019_single.csv'


df = pd.read_csv(csv_file)
df

,index,o_fips,d_fips,usercnt,o_fips_usercnt,d_fips_usercnt,ri,o_d
0,4387,10003,10001,1401,11890,5392,174.973,10001.010003.0
1,4623,10001,10005,1000,5392,6814,164.977,10001.010005.0
2,65609,11001,10001,790,147829,5392,27.982,10001.011001.0
3,1468492,12001,10001,20,13653,5392,2.331,10001.012001.0
4,3044846,10001,12003,1,5392,415,0.668,10001.012003.0
...,...,...,...,...,...,...,...,...
1700998,1666614,9015,56023,1,1574,155,2.025,9015.056023.0
1700999,3059403,9015,56025,1,1574,1480,0.655,9015.056025.0
1701000,1318874,9015,56037,3,1574,842,2.606,9015.056037.0
1701001,2861376,56039,9015,2,3761,1574,0.822,9015.056039.0
1701002,851984,9015,56041,3,1574,372,3.921,9015.056041.0

Get fips's index

In [14]:
gby_o = df.groupby('o_fips')['o_fips'].count().index.to_list()
gby_d = df.groupby('d_fips')['d_fips'].count().index.to_list()

In [15]:
gby = gby_o + gby_d

In [16]:
gby_list = gby_o + gby_d
len(gby_list)

6214

In [17]:
gby_set = set(gby_list)
len(gby_set)

3107

In [18]:
gby_list = list(gby_set)
gby_list = natsorted(gby_list)
len(gby_list)

3107

## build distance matrix

In [19]:
dis_mat = np.zeros((len(gby_list[:]), len(gby_list[:])))
print("dis_mat shape:", dis_mat.shape)  

fips_dic = {}                
for i in range(len(gby_list[:])):
#     print(i, gby_list[i])
    fips_dic[gby_list[i]] = i
# print(fips_dic)

dis_mat shape: (3107, 3107)

In [20]:
fips_dic

{1001: 0,
 1003: 1,
 1005: 2,
 1007: 3,
 1009: 4,
 1011: 5,
 1013: 6,
 1015: 7,
 1017: 8,
 1019: 9,
 1021: 10,
 1023: 11,
 1025: 12,
 1027: 13,
 1029: 14,
 1031: 15,
 1033: 16,
 1035: 17,
 1037: 18,
 1039: 19,
 1041: 20,
 1043: 21,
 1045: 22,
 1047: 23,
 1049: 24,
 1051: 25,
 1053: 26,
 1055: 27,
 1057: 28,
 1059: 29,
 1061: 30,
 1063: 31,
 1065: 32,
 1067: 33,
 1069: 34,
 1071: 35,
 1073: 36,
 1075: 37,
 1077: 38,
 1079: 39,
 1081: 40,
 1083: 41,
 1085: 42,
 1087: 43,
 1089: 44,
 1091: 45,
 1093: 46,
 1095: 47,
 1097: 48,
 1099: 49,
 1101: 50,
 1103: 51,
 1105: 52,
 1107: 53,
 1109: 54,
 1111: 55,
 1113: 56,
 1115: 57,
 1117: 58,
 1119: 59,
 1121: 60,
 1123: 61,
 1125: 62,
 1127: 63,
 1129: 64,
 1131: 65,
 1133: 66,
 4001: 67,
 4003: 68,
 4005: 69,
 4007: 70,
 4009: 71,
 4011: 72,
 4012: 73,
 4013: 74,
 4015: 75,
 4017: 76,
 4019: 77,
 4021: 78,
 4023: 79,
 4025: 80,
 4027: 81,
 5001: 82,
 5003: 83,
 5005: 84,
 5007: 85,
 5009: 86,
 5011: 87,
 5013: 88,
 5015: 89,
 5017: 90,
 5019: 91,
 5021: 92,
 5023: 93,
 5025: 94,
 5027: 95,
 5029: 96,
 5031: 97,
 5033: 98,
 5035: 99,
 5037: 100,
 5039: 101,
 5041: 102,
 5043: 103,
 5045: 104,
 5047: 105,
 5049: 106,
 5051: 107,
 5053: 108,
 5055: 109,
 5057: 110,
 5059: 111,
 5061: 112,
 5063: 113,
 5065: 114,
 5067: 115,
 5069: 116,
 5071: 117,
 5073: 118,
 5075: 119,
 5077: 120,
 5079: 121,
 5081: 122,
 5083: 123,
 5085: 124,
 5087: 125,
 5089: 126,
 5091: 127,
 5093: 128,
 5095: 129,
 5097: 130,
 5099: 131,
 5101: 132,
 5103: 133,
 5105: 134,
 5107: 135,
 5109: 136,
 5111: 137,
 5113: 138,
 5115: 139,
 5117: 140,
 5119: 141,
 5121: 142,
 5123: 143,
 5125: 144,
 5127: 145,
 5129: 146,
 5131: 147,
 5133: 148,
 5135: 149,
 5137: 150,
 5139: 151,
 5141: 152,
 5143: 153,
 5145: 154,
 5147: 155,
 5149: 156,
 6001: 157,
 6003: 158,
 6005: 159,
 6007: 160,
 6009: 161,
 6011: 162,
 6013: 163,
 6015: 164,
 6017: 165,
 6019: 166,
 6021: 167,
 6023: 168,
 6025: 169,
 6027: 170,
 6029: 171,
 6031: 172,
 6033: 173,
 6035: 174,
 6037: 175,
 6039: 176,
 6041: 177,
 6043: 178,
 6045: 179,
 6047: 180,
 6049: 181,
 6051: 182,
 6053: 183,
 6055: 184,
 6057: 185,
 6059: 186,
 6061: 187,
 6063: 188,
 6065: 189,
 6067: 190,
 6069: 191,
 6071: 192,
 6073: 193,
 6075: 194,
 6077: 195,
 6079: 196,
 6081: 197,
 6083: 198,
 6085: 199,
 6087: 200,
 6089: 201,
 6091: 202,
 6093: 203,
 6095: 204,
 6097: 205,
 6099: 206,
 6101: 207,
 6103: 208,
 6105: 209,
 6107: 210,
 6109: 211,
 6111: 212,
 6113: 213,
 6115: 214,
 8001: 215,
 8003: 216,
 8005: 217,
 8007: 218,
 8009: 219,
 8011: 220,
 8013: 221,
 8014: 222,
 8015: 223,
 8017: 224,
 8019: 225,
 8021: 226,
 8023: 227,
 8025: 228,
 8027: 229,
 8029: 230,
 8031: 231,
 8033: 232,
 8035: 233,
 8037: 234,
 8039: 235,
 8041: 236,
 8043: 237,
 8045: 238,
 8047: 239,
 8049: 240,
 8051: 241,
 8053: 242,
 8055: 243,
 8057: 244,
 8059: 245,
 8061: 246,
 8063: 247,
 8065: 248,
 8067: 249,
 8069: 250,
 8071: 251,
 8073: 252,
 8075: 253,
 8077: 254,
 8079: 255,
 8081: 256,
 8083: 257,
 8085: 258,
 8087: 259,
 8089: 260,
 8091: 261,
 8093: 262,
 8095: 263,
 8097: 264,
 8099: 265,
 8101: 266,
 8103: 267,
 8105: 268,
 8107: 269,
 8109: 270,
 8111: 271,
 8113: 272,
 8115: 273,
 8117: 274,
 8119: 275,
 8121: 276,
 8123: 277,
 8125: 278,
 9001: 279,
 9003: 280,
 9005: 281,
 9007: 282,
 9009: 283,
 9011: 284,
 9013: 285,
 9015: 286,
 10001: 287,
 10003: 288,
 10005: 289,
 11001: 290,
 12001: 291,
 12003: 292,
 12005: 293,
 12007: 294,
 12009: 295,
 12011: 296,
 12013: 297,
 12015: 298,
 12017: 299,
 12019: 300,
 12021: 301,
 12023: 302,
 12027: 303,
 12029: 304,
 12031: 305,
 12033: 306,
 12035: 307,
 12037: 308,
 12039: 309,
 12041: 310,
 12043: 311,
 12045: 312,
 12047: 313,
 12049: 314,
 12051: 315,
 12053: 316,
 12055: 317,
 12057: 318,
 12059: 319,
 12061: 320,
 12063: 321,
 12065: 322,
 12067: 323,
 12069: 324,
 12071: 325,
 12073: 326,
 12075: 327,
 12077: 328,
 12079: 329,
 12081: 330,
 12083: 331,
 12085: 332,
 12086: 333,
 12087: 334,
 12089: 335,
 12091: 336,
 12093: 337,
 12095: 338,
 12097: 339,
 12099: 340,
 12101: 341,
 12103: 342,
 12105: 343,
 12107: 344,
 12109: 345,
 12111: 346,
 12113: 347,
 12115: 348,
 12117: 349,
 12119: 350,
 12121: 351,
 12123: 352,
 12125: 353,
 12127: 354,
 12129: 355,
 12131: 356,
 12133: 357,
 13001: 358,
 13003: 359,
 13005: 360,
 13007: 361,
 13009: 362,
 13011: 363,
 13013: 364,
 13015: 365,
 13017: 366,
 13019: 367,
 13021: 368,
 13023: 369,
 13025: 370,
 13027: 371,
 13029: 372,
 13031: 373,
 13033: 374,
 13035: 375,
 13037: 376,
 13039: 377,
 13043: 378,
 13045: 379,
 13047: 380,
 13049: 381,
 13051: 382,
 13053: 383,
 13055: 384,
 13057: 385,
 13059: 386,
 13061: 387,
 13063: 388,
 13065: 389,
 13067: 390,
 13069: 391,
 13071: 392,
 13073: 393,
 13075: 394,
 13077: 395,
 13079: 396,
 13081: 397,
 13083: 398,
 13085: 399,
 13087: 400,
 13089: 401,
 13091: 402,
 13093: 403,
 13095: 404,
 13097: 405,
 13099: 406,
 13101: 407,
 13103: 408,
 13105: 409,
 13107: 410,
 13109: 411,
 13111: 412,
 13113: 413,
 13115: 414,
 13117: 415,
 13119: 416,
 13121: 417,
 13123: 418,
 13125: 419,
 13127: 420,
 13129: 421,
 13131: 422,
 13133: 423,
 13135: 424,
 13137: 425,
 13139: 426,
 13141: 427,
 13143: 428,
 13145: 429,
 13147: 430,
 13149: 431,
 13151: 432,
 13153: 433,
 13155: 434,
 13157: 435,
 13159: 436,
 13161: 437,
 13163: 438,
 13165: 439,
 13167: 440,
 13169: 441,
 13171: 442,
 13173: 443,
 13175: 444,
 13177: 445,
 13179: 446,
 13181: 447,
 13183: 448,
 13185: 449,
 13187: 450,
 13189: 451,
 13191: 452,
 13193: 453,
 13195: 454,
 13197: 455,
 13199: 456,
 13201: 457,
 13205: 458,
 13207: 459,
 13209: 460,
 13211: 461,
 13213: 462,
 13215: 463,
 13217: 464,
 13219: 465,
 13221: 466,
 13223: 467,
 13225: 468,
 13227: 469,
 13229: 470,
 13231: 471,
 13233: 472,
 13235: 473,
 13237: 474,
 13239: 475,
 13241: 476,
 13243: 477,
 13245: 478,
 13247: 479,
 13249: 480,
 13251: 481,
 13253: 482,
 13255: 483,
 13257: 484,
 13259: 485,
 13261: 486,
 13263: 487,
 13265: 488,
 13267: 489,
 13269: 490,
 13271: 491,
 13273: 492,
 13275: 493,
 13277: 494,
 13279: 495,
 13281: 496,
 13283: 497,
 13285: 498,
 13287: 499,
 13289: 500,
 13291: 501,
 13293: 502,
 13295: 503,
 13297: 504,
 13299: 505,
 13301: 506,
 13303: 507,
 13305: 508,
 13307: 509,
 13309: 510,
 13311: 511,
 13313: 512,
 13315: 513,
 13317: 514,
 13319: 515,
 13321: 516,
 16001: 517,
 16003: 518,
 16005: 519,
 16007: 520,
 16009: 521,
 16011: 522,
 16013: 523,
 16015: 524,
 16017: 525,
 16019: 526,
 16021: 527,
 16023: 528,
 16025: 529,
 16027: 530,
 16029: 531,
 16031: 532,
 16033: 533,
 16035: 534,
 16037: 535,
 16039: 536,
 16041: 537,
 16043: 538,
 16045: 539,
 16047: 540,
 16049: 541,
 16051: 542,
 16053: 543,
 16055: 544,
 16057: 545,
 16059: 546,
 16061: 547,
 16063: 548,
 16065: 549,
 16067: 550,
 16069: 551,
 16071: 552,
 16073: 553,
 16075: 554,
 16077: 555,
 16079: 556,
 16081: 557,
 16083: 558,
 16085: 559,
 16087: 560,
 17001: 561,
 17003: 562,
 17005: 563,
 17007: 564,
 17009: 565,
 17011: 566,
 17013: 567,
 17015: 568,
 17017: 569,
 17019: 570,
 17021: 571,
 17023: 572,
 17025: 573,
 17027: 574,
 17029: 575,
 17031: 576,
 17033: 577,
 17035: 578,
 17037: 579,
 17039: 580,
 17041: 581,
 17043: 582,
 17045: 583,
 17047: 584,
 17049: 585,
 17051: 586,
 17053: 587,
 17055: 588,
 17057: 589,
 17059: 590,
 17061: 591,
 17063: 592,
 17065: 593,
 17067: 594,
 17069: 595,
 17071: 596,
 17073: 597,
 17075: 598,
 17077: 599,
 17079: 600,
 17081: 601,
 17083: 602,
 17085: 603,
 17087: 604,
 17089: 605,
 17091: 606,
 17093: 607,
 17095: 608,
 17097: 609,
 17099: 610,
 17101: 611,
 17103: 612,
 17105: 613,
 17107: 614,
 17109: 615,
 17111: 616,
 17113: 617,
 17115: 618,
 17117: 619,
 17119: 620,
 17121: 621,
 17123: 622,
 17125: 623,
 17127: 624,
 17129: 625,
 17131: 626,
 17133: 627,
 17135: 628,
 17137: 629,
 17139: 630,
 17141: 631,
 17143: 632,
 17145: 633,
 17147: 634,
 17149: 635,
 17151: 636,
 17153: 637,
 17155: 638,
 17157: 639,
 17159: 640,
 17161: 641,
 17163: 642,
 17165: 643,
 17167: 644,
 17169: 645,
 17171: 646,
 17173: 647,
 17175: 648,
 17177: 649,
 17179: 650,
 17181: 651,
 17183: 652,
 17185: 653,
 17187: 654,
 17189: 655,
 17191: 656,
 17193: 657,
 17195: 658,
 17197: 659,
 17199: 660,
 17201: 661,
 17203: 662,
 18001: 663,
 18003: 664,
 18005: 665,
 18007: 666,
 18009: 667,
 18011: 668,
 18013: 669,
 18015: 670,
 18017: 671,
 18019: 672,
 18021: 673,
 18023: 674,
 18025: 675,
 18027: 676,
 18029: 677,
 18031: 678,
 18033: 679,
 18035: 680,
 18037: 681,
 18039: 682,
 18041: 683,
 18043: 684,
 18045: 685,
 18047: 686,
 18049: 687,
 18051: 688,
 18053: 689,
 18055: 690,
 18057: 691,
 18059: 692,
 18061: 693,
 18063: 694,
 18065: 695,
 18067: 696,
 18069: 697,
 18071: 698,
 18073: 699,
 18075: 700,
 18077: 701,
 18079: 702,
 18081: 703,
 18083: 704,
 18085: 705,
 18087: 706,
 18089: 707,
 18091: 708,
 18093: 709,
 18095: 710,
 18097: 711,
 18099: 712,
 18101: 713,
 18103: 714,
 18105: 715,
 18107: 716,
 18109: 717,
 18111: 718,
 18113: 719,
 18115: 720,
 18117: 721,
 18119: 722,
 18121: 723,
 18123: 724,
 18125: 725,
 18127: 726,
 18129: 727,
 18131: 728,
 18133: 729,
 18135: 730,
 18137: 731,
 18139: 732,
 18141: 733,
 18143: 734,
 18145: 735,
 18147: 736,
 18149: 737,
 18151: 738,
 18153: 739,
 18155: 740,
 18157: 741,
 18159: 742,
 18161: 743,
 18163: 744,
 18165: 745,
 18167: 746,
 18169: 747,
 18171: 748,
 18173: 749,
 18175: 750,
 18177: 751,
 18179: 752,
 18181: 753,
 18183: 754,
 19001: 755,
 19003: 756,
 19005: 757,
 19007: 758,
 19009: 759,
 19011: 760,
 19013: 761,
 19015: 762,
 19017: 763,
 19019: 764,
 19021: 765,
 19023: 766,
 19025: 767,
 19027: 768,
 19029: 769,
 19031: 770,
 19033: 771,
 19035: 772,
 19037: 773,
 19039: 774,
 19041: 775,
 19043: 776,
 19045: 777,
 19047: 778,
 19049: 779,
 19051: 780,
 19053: 781,
 19055: 782,
 19057: 783,
 19059: 784,
 19061: 785,
 19063: 786,
 19065: 787,
 19067: 788,
 19069: 789,
 19071: 790,
 19073: 791,
 19075: 792,
 19077: 793,
 19079: 794,
 19081: 795,
 19083: 796,
 19085: 797,
 19087: 798,
 19089: 799,
 19091: 800,
 19093: 801,
 19095: 802,
 19097: 803,
 19099: 804,
 19101: 805,
 19103: 806,
 19105: 807,
 19107: 808,
 19109: 809,
 19111: 810,
 19113: 811,
 19115: 812,
 19117: 813,
 19119: 814,
 19121: 815,
 19123: 816,
 19125: 817,
 19127: 818,
 19129: 819,
 19131: 820,
 19133: 821,
 19135: 822,
 19137: 823,
 19139: 824,
 19141: 825,
 19143: 826,
 19145: 827,
 19147: 828,
 19149: 829,
 19151: 830,
 19153: 831,
 19155: 832,
 19157: 833,
 19159: 834,
 19161: 835,
 19163: 836,
 19165: 837,
 19167: 838,
 19169: 839,
 19171: 840,
 19173: 841,
 19175: 842,
 19177: 843,
 19179: 844,
 19181: 845,
 19183: 846,
 19185: 847,
 19187: 848,
 19189: 849,
 19191: 850,
 19193: 851,
 19195: 852,
 19197: 853,
 20001: 854,
 20003: 855,
 20005: 856,
 20007: 857,
 20009: 858,
 20011: 859,
 20013: 860,
 20015: 861,
 20017: 862,
 20019: 863,
 20021: 864,
 20023: 865,
 20025: 866,
 20027: 867,
 20029: 868,
 20031: 869,
 20033: 870,
 20035: 871,
 20037: 872,
 20039: 873,
 20041: 874,
 20043: 875,
 20045: 876,
 20047: 877,
 20049: 878,
 20051: 879,
 20053: 880,
 20055: 881,
 20057: 882,
 20059: 883,
 20061: 884,
 20063: 885,
 20065: 886,
 20067: 887,
 20069: 888,
 20071: 889,
 20073: 890,
 20075: 891,
 20077: 892,
 20079: 893,
 20081: 894,
 20083: 895,
 20085: 896,
 20087: 897,
 20089: 898,
 20091: 899,
 20093: 900,
 20095: 901,
 20097: 902,
 20099: 903,
 20101: 904,
 20103: 905,
 20105: 906,
 20107: 907,
 20109: 908,
 20111: 909,
 20113: 910,
 20115: 911,
 20117: 912,
 20119: 913,
 20121: 914,
 20123: 915,
 20125: 916,
 20127: 917,
 20129: 918,
 20131: 919,
 20133: 920,
 20135: 921,
 20137: 922,
 20139: 923,
 20141: 924,
 20143: 925,
 20145: 926,
 20147: 927,
 20149: 928,
 20151: 929,
 20153: 930,
 20155: 931,
 20157: 932,
 20159: 933,
 20161: 934,
 20163: 935,
 20165: 936,
 20167: 937,
 20169: 938,
 20171: 939,
 20173: 940,
 20175: 941,
 20177: 942,
 20179: 943,
 20181: 944,
 20183: 945,
 20185: 946,
 20187: 947,
 20189: 948,
 20191: 949,
 20193: 950,
 20195: 951,
 20197: 952,
 20199: 953,
 20201: 954,
 20203: 955,
 20205: 956,
 20207: 957,
 20209: 958,
 21001: 959,
 21003: 960,
 21005: 961,
 21007: 962,
 21009: 963,
 21011: 964,
 21013: 965,
 21015: 966,
 21017: 967,
 21019: 968,
 21021: 969,
 21023: 970,
 21025: 971,
 21027: 972,
 21029: 973,
 21031: 974,
 21033: 975,
 21035: 976,
 21037: 977,
 21039: 978,
 21041: 979,
 21043: 980,
 21045: 981,
 21047: 982,
 21049: 983,
 21051: 984,
 21053: 985,
 21055: 986,
 21057: 987,
 21059: 988,
 21061: 989,
 21063: 990,
 21065: 991,
 21067: 992,
 21069: 993,
 21071: 994,
 21073: 995,
 21075: 996,
 21077: 997,
 21079: 998,
 21081: 999,
 ...}

In [21]:
df

,index,o_fips,d_fips,usercnt,o_fips_usercnt,d_fips_usercnt,ri,o_d
0,4387,10003,10001,1401,11890,5392,174.973,10001.010003.0
1,4623,10001,10005,1000,5392,6814,164.977,10001.010005.0
2,65609,11001,10001,790,147829,5392,27.982,10001.011001.0
3,1468492,12001,10001,20,13653,5392,2.331,10001.012001.0
4,3044846,10001,12003,1,5392,415,0.668,10001.012003.0
...,...,...,...,...,...,...,...,...
1700998,1666614,9015,56023,1,1574,155,2.025,9015.056023.0
1700999,3059403,9015,56025,1,1574,1480,0.655,9015.056025.0
1701000,1318874,9015,56037,3,1574,842,2.606,9015.056037.0
1701001,2861376,56039,9015,2,3761,1574,0.822,9015.056039.0
1701002,851984,9015,56041,3,1574,372,3.921,9015.056041.0

In [55]:
for idx, row in df.iterrows():
    interval = 100000
    if idx % interval == 0:
        print(idx)
#     print(row['o_fips'])
    i = fips_dic[row['o_fips']]
    j = fips_dic[row['d_fips']]
    i = int(i)
    j = int(j)
    dis_mat[i, j] = row['ri']
    dis_mat[j, i] = row['ri']
    
print("done")

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
done

In [56]:
import scipy
saved_file = r'/media/huan/HD8T/Research/place_conn/PCI_2019_s_matrix.csv'
s_dis_mat = scipy.sparse.coo_matrix(dis_mat)
scipy.sparse.save_npz(saved_file, s_dis_mat, compressed=True)

In [22]:
dis_mat[0, 1]

0.0

In [23]:
dis_mat.sum()

0.0

In [24]:
df['ri'].sum()

7210579.450000003

In [60]:
df.dtypes

index               int64
o_fips              int64
d_fips              int64
usercnt             int64
o_fips_usercnt      int64
d_fips_usercnt      int64
ri                float64
o_d                object
dtype: object

In [61]:
df_alabama = df[df['o_fips'] < 1200]

In [62]:
df_alabama = df_alabama[df_alabama['d_fips'] < 1200]

In [63]:
df_alabama

,index,o_fips,d_fips,usercnt,o_fips_usercnt,d_fips_usercnt,ri,o_d
5145,40059,1001,1003,167,2200,8386,38.880,1001.01003.0
5146,101801,1005,1001,18,350,2200,20.513,1001.01005.0
5147,33181,1007,1001,31,226,2200,43.964,1001.01007.0
5148,98159,1001,1009,19,2200,371,21.031,1001.01009.0
5149,92185,1011,1001,10,94,2200,21.990,1001.01011.0
...,...,...,...,...,...,...,...,...
81111,181948,1129,1125,8,33,10778,13.414,1125.01129.0
81112,380791,1125,1131,5,10778,40,7.615,1125.01131.0
81113,71704,1125,1133,43,10778,248,26.301,1125.01133.0
83373,522757,1129,1127,1,33,867,5.912,1127.01129.0
83374,11365,1133,1127,40,248,867,86.263,1127.01133.0

In [64]:
df_alabama.sort_values('ri')

,index,o_fips,d_fips,usercnt,o_fips_usercnt,d_fips_usercnt,ri,o_d
52276,3034571,1087,1095,1,1427,1529,0.677,1087.01095.0
47078,2357266,1079,1113,1,318,2004,1.253,1079.01113.0
22352,2247902,1033,1053,1,1246,437,1.355,1033.01053.0
11234,2229131,1087,1009,1,1427,371,1.374,1009.01087.0
71227,2183671,1113,1133,1,2004,248,1.418,1113.01133.0
...,...,...,...,...,...,...,...,...
5168,3908,1051,1001,383,1556,2200,207.006,1001.01051.0
21256,3611,1045,1031,182,800,726,238.813,1031.01045.0
27936,3573,1045,1069,331,800,2330,242.440,1045.01069.0
22362,3162,1033,1077,597,1246,2188,361.569,1033.01077.0
42359,3146,1073,1117,6126,25410,10478,375.436,1073.01117.0

## AgglomerativeClustering

In [25]:
dis_mat.max()

0.0

In [66]:
dis_mat.min()

0.0

In [67]:
# dis_mat_inv = 1 / (dis_mat/1000 + 0.0000001)
dis_mat_inv = 1 / (dis_mat + 0.0000001)

dis_mat_inv

array([[1.00000000e+07, 2.57201645e-02, 4.87495732e-02, ...,
        9.04977294e-01, 4.24808818e-01, 4.08830727e-01],
       [2.57201645e-02, 1.00000000e+07, 7.78755543e-02, ...,
        4.41501084e-01, 1.00000000e+07, 1.00000000e+07],
       [4.87495732e-02, 7.78755543e-02, 1.00000000e+07, ...,
        1.00000000e+07, 1.00000000e+07, 1.00000000e+07],
       ...,
       [9.04977294e-01, 4.41501084e-01, 1.00000000e+07, ...,
        1.00000000e+07, 1.74641981e-01, 1.68152007e-01],
       [4.24808818e-01, 1.00000000e+07, 1.00000000e+07, ...,
        1.74641981e-01, 1.00000000e+07, 1.00000000e+07],
       [4.08830727e-01, 1.00000000e+07, 1.00000000e+07, ...,
        1.68152007e-01, 1.00000000e+07, 1.00000000e+07]])

In [68]:
dis_mat_inv_small = dis_mat_inv[:67, :67]
# dis_mat_inv_small = dis_mat_inv[:, :]

dis_mat_inv_small

array([[1.00000000e+07, 2.57201645e-02, 4.87495732e-02, ...,
        1.34716420e-01, 9.88826253e-02, 4.34499238e-02],
       [2.57201645e-02, 1.00000000e+07, 7.78755543e-02, ...,
        7.51540653e-02, 7.23955689e-02, 9.61446006e-02],
       [4.87495732e-02, 7.78755543e-02, 1.00000000e+07, ...,
        1.07469101e-01, 1.00000000e+07, 1.47318796e-01],
       ...,
       [1.34716420e-01, 7.51540653e-02, 1.07469101e-01, ...,
        1.00000000e+07, 1.00000000e+07, 1.00000000e+07],
       [9.88826253e-02, 7.23955689e-02, 1.00000000e+07, ...,
        1.00000000e+07, 1.00000000e+07, 1.00000000e+07],
       [4.34499238e-02, 9.61446006e-02, 1.47318796e-01, ...,
        1.00000000e+07, 1.00000000e+07, 1.00000000e+07]])

In [69]:
dis_mat_inv_small.shape

(67, 67)

In [70]:
conn_mat = np.where(dis_mat_inv_small > 9999.9, 0, 1)
conn_mat

array([[0, 1, 1, ..., 1, 1, 1],
       [1, 0, 1, ..., 1, 1, 1],
       [1, 1, 0, ..., 1, 0, 1],
       ...,
       [1, 1, 1, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 0, 0]])

In [71]:
conn_mat.sum()

3728

## with connectivity, linkage = 'average'

In [26]:
import scipy
saved_file = r'/media/huan/HD8T/Research/place_conn/PCI_2019_s_matrix.csv.npz'
s_dis_mat = scipy.sparse.load_npz(saved_file)
# s_dis_mat = scipy.sparse.coo_matrix(dis_mat)
dis_mat = s_dis_mat.todense()
dis_mat

matrix([[ 0.   , 38.88 , 20.513, ...,  1.105,  2.354,  2.446],
        [38.88 ,  0.   , 12.841, ...,  2.265,  0.   ,  0.   ],
        [20.513, 12.841,  0.   , ...,  0.   ,  0.   ,  0.   ],
        ...,
        [ 1.105,  2.265,  0.   , ...,  0.   ,  5.726,  5.947],
        [ 2.354,  0.   ,  0.   , ...,  5.726,  0.   ,  0.   ],
        [ 2.446,  0.   ,  0.   , ...,  5.947,  0.   ,  0.   ]])

In [30]:
dis_mat.sum()

14421158.900000013

In [31]:
df['ri'].sum()

7210579.450000003

In [32]:
dis_mat_inv = 1 / (dis_mat/1000 + 0.0000001)

dis_mat_inv

dis_mat_inv_small = dis_mat_inv[:, :]
conn_mat = np.where(dis_mat_inv_small > 99999.9, 0, 1)
print(conn_mat.shape)
conn_mat

(3107, 3107)

array([[0, 1, 1, ..., 1, 1, 1],
       [1, 0, 1, ..., 1, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [1, 1, 0, ..., 0, 1, 1],
       [1, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 1, 0, 0]])

In [33]:
conn_mat.sum()

3402006

In [46]:

# n_clusters = 48

df_re_list = []

for n_clusters in (20, 48, 50, 75):
    clustering = AgglomerativeClustering(n_clusters=n_clusters,  affinity="precomputed", linkage='single', \

                                       connectivity=conn_mat).fit(dis_mat_inv_small)


    fips_col = []
    for idx, label in enumerate(clustering.labels_):
    #     print(gby_list[idx], label)
        fips_col.append(gby_list[idx])

    df_re = pd.DataFrame(list(zip(fips_col, clustering.labels_)), columns=['fips', 'class'])

    df_re['fips'] = df_re['fips'].astype(str).str.zfill(5)
    df_re['class'] = df_re['class'].astype(str)


    df_re.to_csv(f'/media/huan/HD8T/Research/place_conn/agglomerative_{n_clusters}cluster_single.csv', index=False)
    df_re_list.append((n_clusters, df_re))

    print("finished ", n_clusters)

finished  20
finished  48
finished  50
finished  75

In [ ]:
drawmap(df_re_list[1][1])